.board {
    width: 150px;
    height: 150px;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px; 
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 30px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid;
    padding: 5px;
    font-size: x-large;
    margin: 0;
}

.box:hover {
    background-color: yellow;
}

.turns {
    border: solid px 2 black;
    padding: 1px;
}

h2 {
    margin: 0;
}

#turnX {
    color: blue;
}

#turnO {
    color: brown;
}